body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #800000, #FF8C00);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.login-box {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 350px;
    text-align: center;
}

h2 {
    color: #800000;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #eee;
    border-radius: 6px;
    box-sizing: border-box;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #800000;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}
.error-msg { color: red; font-size: 0.9rem; margin-top: 10px; }